typing_extensions==4.3.0
python-dateutil==2.*
memoized-property==1.*

# Storage backend dependencies
# TODO: Split these out so users don't have to install all of them
google-cloud-storage==2.7.*
azure-storage-blob==12.15.*
